workflows:
  - tag_query: ''
    plan:
      - type: env
        name: "BAR"
        cmd: ["echo", "FOO"]
      - type: run
        cmd: ["${TERRATEAM_ROOT}/expect-env", "BAR"]
        capture_output: true
      - type: init
      - type: plan
    apply:
      - type: env
        name: "BAR"
        cmd: ["echo", "FOO"]
      - type: run
        cmd: ["${TERRATEAM_ROOT}/expect-env", "BAR"]
        capture_output: true
      - type: init
      - type: apply
