engine:
  name: tofu

workflows:
  - tag_query: ''
    plan:
      - type: init
      - type: plan
      - type: opa
        fail_on: defined
        extra_args: ['-d', 'policy.rego', 'data.terraform.deny']
