engine:
  name: tofu

workflows:
  - tag_query: ''
    plan:
      - type: run
        cmd: ['false']
        ignore_errors: true
        on_error:
          - type: gate
            token: foobar
            any_of: ['user:terrateam-test-user02']
            any_of_count: 2
      - type: init
      - type: plan
          

cost_estimation:
  enabled: false
